.header-container{
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.item{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    display: flex;
}

.border-style{
    border-bottom: 3px solid #3FD0D4;
}