.banner{
    background-image: url(../../img/banner/banner.jpg);
    height: 750px; 
    background-position: bottom; 
    background-repeat: no-repeat; 
    background-size: cover;
    opacity: 0.8;
    
}
.dark-overly{
    background: rgba(0, 0, 0, 0.3);
    height: 750px; 

}
.text-position{
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-size{
    font-size: 50px;
}